<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">My name is G'olib. I am 21 years old. Because of my interest in IT, I decided to enter the Tashkent University of Information Technology. I am a 3rd year student of Tashkent University of Information Technologies.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead"> I am a nodejs backend developer. I program the processes that take place on the 
back of websites. I am also directly involved in the processes that take place on the front of the website.</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="/assets/resume.pdf" target="_blank">
                <i class="fas fa-download me-2"></i>
                Resume Download!
            </a>
        </div>
    </div>
</section>
