<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">INFORMATION</h4>
                <p class="lead mb-0">
                    G'olib Narzullayev
                    <br />
                    gnarzullayev2000@gmail.com
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/golibdev" target="_blank"><i class="fab fa-fw fa-github"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://t.me/gnarzullayev" target="_blank"><i class="fab fa-fw fa-telegram"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://linkedin.com/in/gnarzullayev" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">NARZULLAYEV.UZ</h4>
                <p class="lead mb-0">
                    The site <a href="https://narzullayev.uz">Narzullayev.uz</a> was created on the Node.JS platform
                </p>
            </div>
        </div>
    </div>
</footer>
