<style>
	.typewrite {
		font-size: 30px;
		letter-sapcing: 15px;
	}
</style>
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">G'olib Narzullayev</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <h1></h1>
        <h2 class="typewrite text-white" data-period="2000" data-type='[ "I am Node.JS Backend Developer.", "I Love Programming" ]'></h2>
            <span class="wrap"></span>
        </h2>
    </div>
</header>

